# Credenciales de la base de datos
DB_USER=user
DB_PASSWORD=password
DB_NAME=dbname

# URL de conexión a la base de datos
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}

# Clave secreta para la aplicación (para autenticación, JWT.)
SECRET_KEY=your_secret_key

# URL de la aplicación (frontend)
APP_URL=http://localhost:3000